/* Destaques */
	
#destaques
{
	background: $color-main-light;
	text-align: center;
	margin: 145px 0 10px;
	padding: 0;

   	//768px
	@include breakpoint(max-width ($tablet-port - 1)) {
		display: none;
   	}   

	.destaque
	{
		//width: 21%;
		width: 190px;
		padding: 2% 1.5% 1%;
		display: inline-block;

	   	//960px
		@include breakpoint(max-width ($tablet-land - 1)) {
			padding: 1.5% 0 1%;
	   	} 

	   	//768px
		@include breakpoint(max-width ($tablet-port - 1)) {
			width: 100%;
	   	}   

	   	@include breakpoint(max-width ($mobile-land - 1)) {
	   		width: 100%;
	   	}	   		   	

		a 
		{
			display: block;
			width: 100%;
			height: 100%;

			&:hover 
			{
				h3 
				{
					color: $color-menu-hover;
				}
			}

		}

		img 
		{
			float: left;
			margin-right: 10px;
			margin-top: -5px;

			// < 1260px
			@include breakpoint(max-width 1260px) {
				float: none;
				margin: 0;
		   	}

		}

		h3 
		{
			color: #222; //verde icon: #30a592, #555, $color-hover-red
			font-family: $font-menu;
			font-size: $font-size-base * 1.4;
			font-weight: $font-weight-base * 4;
			text-transform: uppercase;
			line-height: 1em;
			text-align: left;
			@include transition(all, .5s, ease-out, 0s);

			// < 1260px
			@include breakpoint(max-width 1260px) {
				text-align: center;
		   	}

		}	

		p 
		{
			font-size: $font-size-base * 1.4;
			color: $color-eventos-h4;
			font-weight: $font-weight-base * 5;
			text-align: left;

			// < 1260px
			@include breakpoint(max-width 1260px) {
				text-align: center;
		   	}

		}					

	}

}