footer,
.info-footer
{
	background: $bg-header;
	position: relative;
	padding: 15px 0;
	clear: both;

	.info 
	{

		position: relative;
		text-align: left;

	   	//768px
		@include breakpoint(max-width ($tablet-port - 1)) {
			text-align: center;
	   	} 

		&.lft-footer 
		{
			float: left;
			width: 40%;
		}

		&.rgt-footer 
		{
			float: right;
			width: 60%;
		}	

		&.lft-footer,
		&.rgt-footer 
		{
		   	//768px
			@include breakpoint(max-width ($tablet-port - 1)) {
				width: 100%;
				float: none;
				overflow: hidden;
		   	} 
		}

	}

	.icones-blindado
	{
		.icn 
		{
			background: url("../imgs/icones_cartoes.png") no-repeat 0 0;
			float: left;
			width: 100px;
			height: 70px;
			text-indent: -9999px;
			margin-right: 10px;

		   	//768px
			@include breakpoint(max-width ($tablet-port - 1)) {
				float: none;
				display: inline-block;
		   	} 

		}

		.icn-b01
		{
			background-position: 1px 1px;
		}

		.icn-b02
		{
			background-position: -129px 1px;
		}

		.icn-b03
		{
			background-position: -261px 1px;
			width: 135px;
			margin-right: 0;
		}		

	}

	.icones-cartoes
	{
	
		margin: 25px 0;
	   	//768px
		@include breakpoint(max-width ($tablet-port - 1)) {
			text-align: center;
	   	} 

		.icn 
		{
			background: url("../imgs/icones_cartoes.png") no-repeat -557px -35px;
			float: right;
			width: 56px;
			height: 40px;
			text-indent: -9999px;

		   	//768px
			@include breakpoint(max-width ($tablet-port - 1)) {
				float: none;
				display: inline-block;
		   	} 
			
		}

		.icn-01
		{
			background-position: -557px -32px;
		}

		.icn-02
		{
			background-position: -617px -32px;
		}

		.icn-03
		{
			background-position: -677px -32px;
		}

		.icn-04
		{
			background-position: -737px -32px;
		}		

		.icn-05
		{
			background-position: -795px -32px;
		}	

		.icn-06
		{
			background-position: -861px -32px;
		}	

		.icn-07
		{
			background-position: -919px -32px;
		}	

		.icn-08
		{
			background-position: -968px -32px;
		}	

		.icn-09
		{
			background-position: -1018px -32px;
		}	

		.icn-10
		{
			background-position: -1076px -32px;
		}	

		.icn-11
		{
			background-position: -1139px -32px;
		}																				

	}

}