footer,
.info-footer
{
	background: $bg-header;
	position: relative;
	padding: 15px 0;
	clear: both;

	.info 
	{
		@include span(12 of 12);
		position: relative;
		text-align: left;
		margin-top: 5px;

	   	//959px
		@include breakpoint(max-width ($tablet-land - 1)) {
			text-align: center;
		}    

		//768px
		@include breakpoint(max-width ($tablet-port - 1)) {}    

		.itemContato
		{
			//include span(3 of 6);
			overflow: hidden;
			margin-left: 10px;
			text-align: center;
			//float: left;

			//1200px
			@include breakpoint(max-width $desktop) {
				//@include span(6 of 6);
				margin-bottom: .3em;
		   	}

		   	//959px
			@include breakpoint(max-width ($tablet-port - 1)) {
				margin-left: 0;
			}      		

		}

		a 
		{
			display: block;
			width: 100%;
			height: 100%;
		}

		.icon 
		{
			float: left;
			width: 20px;
			margin-top: 3px;
			margin-left: 10px;
			display: none;
		}

		.infoTxt
		{
			//float: left;
			//margin-left: .5em;

			h4 
			{
				color: $color-main;
				font-family: $font-menu;
				font-size: $font-size-base * 1.2;
				text-transform: uppercase;
				font-weight: $font-weight-base * 7;
				line-height: 1.2em;
				display: inline-block;
			}

			p 
			{
				color: $color-main;
				font-family: $font-menu;
				font-size: $font-size-base * 1.4;
				font-weight: $font-weight-base * 4;
				line-height: 1.2em;
				margin: 0;
				display: inline-block;

			}

		}

	}

}