#header-topo
{
	background: $bg-header;
	width: 100%;
	height: 70px;
	position: relative;
	//padding: ($padding / 2) 0;
	padding: 50px 0 15px;
	position: fixed;
	top: 0;
	z-index: 99;
	@include transition(all, .5s, ease-out, 0s);

	.container 
	{
		position: relative;
	}

	#logo
	{
		
		//layout com logo centralizada
		/*
			width: 150px;
			height: 100%;
			position: absolute;
			margin-left: 0;
			margin-right: 0;
			left: 50%;
			margin-left: -105px;		
		*/
		width: 150px;
		height: 100%;
		float: left;

		// 1200px
		@include breakpoint(max-width $desktop) {
			//@include span(3 of 12);
	   	}

	   	// 960px
		@include breakpoint(max-width ($tablet-land - 1)) {
			//@include span(10 of 12);
	   	} 

	   	// 768px
		@include breakpoint(max-width ($tablet-port - 1)) {
			//@include span(9 of 12);
	   	} 

	   	// 480px
		@include breakpoint(max-width ($mobile-land - 1)) {
			//@include span(8 of 12);

			img 
			{
				width: 150px;
			}
	   	} 

	   	// 320px
		@include breakpoint(max-width ($mobile-port - 1)) {
			//@include span(7 of 12);
	   	} 	

	   	a 
	   	{
	   		display: block;
	   		width: 100%;
	   		height: 100%;
	   	}   		   		   	

		img 
		{
			@include transition(all, .5s, ease-out, 0s);
			margin: 5px 0;
		}
	}

	#menu 
	{
		//layout com logo centralizada
		/*
			width: 640px;
			overflow: hidden;
			
		*/
		width: 640px;
		margin: 0 0 0 30px;
		float: left;


	   	// 1200px
		@include breakpoint (max-width $desktop){
			display: none;
	   	}   

		nav 
		{}

		li 
		{
			display: inline-block;
			padding: ($padding / 2);

			&.last-child
			{}

			&.item-menu-lft
			{
				float: left;
			}

			&.item-menu-rgt
			{
				float: right;
			}			

		}

		a 
		{
			color: $color-main;
			font-family: $font-main;
			font-size: $font-size-base * 1.3;
			font-weight: $font-weight-base * 8;
			line-height: 3em;
			text-transform: uppercase;
			//letter-spacing: 2px;
			position: relative;

			&.active 
			{
				color: $color-menu-hover !important;
			}

			&:before,
			&:after,
			&.active:before,
			&.active:after
			{
				position: absolute;
				top: 0;
				line-height: 1.3em;	
				color: $color-menu-hover;
				font-weight: $font-weight-base * 7;
				z-index: 90;

				@include opacity(0);
				@include transition(all, .5s, ease-out, 0s);
			}

			&:before,
			&.active:before 
			{
				content: "[";
				left: 50%;				
			}

			&:after,
			&.active:after 
			{
				content: "]";
				right: 50%;		
			}

			&.attention
			{
				color: $color-hover-red;
			}

			&:hover,
			&.active,
			{
				color: $color-main;

				&:before
				{
					left: -10px;
					@include opacity(100);
				}

				&:after
				{
					right: -10px;
					@include opacity(100);
				}				
			}				

		}		

	}

}

.scrolled 
{
	#header-topo 
	{
		//padding: 10px 0;
		background: #fff;
		background: rgba(255,255,255,.95);
	}

	#logo 
	{
		img 
		{
			//width: 150px;
			//margin-top: 5px;
		}
	}
}

.removeRedeSocial
{
	#header-topo 
	{
		padding-top: 20px;
	}
}